<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
		var config = {
			version: "<!-- VERSION -->",
			isProd: "<!-- PROD -->",
			wssUrl: "<!-- WSSURL -->"
		}
	</script>

	<script src="templates.js"></script>

	<!-- VENDOR_FILES -->

	<!-- JS_FILES -->

<body>
	<div id="app" :class="{mouseHL:state.mouseHL}">
		<lobby-bg v-if="!state.gameActive"></lobby-bg>
		<div id="main" v-show="state.gameActive">
			<canvas id="board"></canvas>
		</div>
		<div v-if="state.gameActive">
			<sidebar></sidebar>
			<team-comp></team-comp>
			<scores></scores>
			<info></info>
			<hover-info></hover-info>
			<expand></expand>
			<chat></chat>
			<div id="waiting" :class="{active:state.waiting}" title="Waiting on Players">
				<img src="images/travelIcon.png" />
			</div>
		</div>
		<div id="btFullscreen" title="toggle fullscreen" @click="toggleFullscreen"></div>
	</div>

	<div id="dragOverlay"></div>
	<div id="overlay"></div>
</body>

</html>