#battle{
	position: fixed;
	left: 50%;
	transform: translate(-50%,0);
	bottom: 20px;

	.bar{
		display: inline-block;
		min-width: 20px;
		border: 4px solid black;
		color: white;
		font-family: myfont;
		padding: 6px;
		font-size: 1.2em;
		transition: width .5s;
	}
}