.dialog {
	position: fixed;
	max-height: 100%;
	overflow: auto;
	border: 5px solid white;
	top: 0;
	left: 0;
	background-color: black;
	box-sizing: border-box;
	padding: 14px;
	display: none;
	color: white;

	.footer {
		text-align: right;
		margin-top: 10px;
	}
}

#partyDlg {
	max-width: 570px;

	.units {
		display: flex;
		flex-wrap: wrap;
	}

	.skillItem {
		&:not(:last-of-type) {
			margin-right: 20px;
		}

		display: inline-block;
		font-size: 32px;

		img {
			width: 32px;
			height: 32px;
			vertical-align: text-bottom;
		}
	}
}

.card {
	padding: 4px;
	display: flex;
	flex-direction: column;
	background-color: black;
	border: 4px solid #333;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 6px;
	text-align: center;
	position: relative;

	.unitIcon {
		width: 64px;
		height: 64px;
		display: block;
	}

	.rankIcon {
		position: absolute;
		right: -4px;
		bottom: -4px;
		width: 18px;
		height: auto;
	}

	.hpBar {
		margin-top: 4px;
		width: 100%;
		height: 8px;
		background-color: darkgreen;

		.hp {
			height: 100%;
			background-color: lime;
		}
	}

	&.selected {
		border-color: yellow;
	}

	&.onmission {
		background-color: darkblue;
	}

	.hover {
		left: 0;
		top: -24px;
		right: unset;
	}

	&:hover {
		.hover {
			display: block;
		}
	}
}

.unitTile {
	padding: 4px;
	display: flex;
	flex-direction: column;
	background-color: black;
	border: 4px solid #333;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 6px;
	text-align: center;

	img {
		width: 60px;
		height: 60px;
		display: block;
	}

	.hpBar {
		margin-top: 4px;
		width: 100%;
		height: 8px;
		background-color: darkgreen;

		.hp {
			height: 100%;
			background-color: lime;
		}
	}

	&.selected {
		border-color: yellow;
	}

	&.onmission {
		background-color: darkblue;
	}
}

#cityDlg {
	width: 500px;

	#cityProd {
		display: flex;
    	justify-content: center;
    	margin-bottom: 20px;
	}

	.prodOption {
		margin: 6px;
		display: inline-block;
		width: 64px;
		height: 64px;
		border: 4px solid white;
		background: black;
		padding: 4px;
		position: relative;
		
		> img {
			width: 100%;
			height: 100%;
		}

		&.selected {
			border-color: yellow;
		}
	}
}

#menu {
	display: flex;
	flex-direction: column;
	align-items: center;

	button {
		display: block;
		width: 100%;
		margin: 10px;
		box-sizing: border-box;
	}
}

#howToPlayDlg {
	overflow-y: scroll;
	background: #2f2b24;
	max-width: 1000px;
	height: 100%;
	border-top: 0;
	border-bottom: 0;
	color: cornsilk;

	h4 {
		color: white;
	}

	b {
		color: khaki;
	}

	.closeButton {
		position: fixed;
		top: 0;
		left: 50%;
		border-color: red;
		border-top: none;
	}
}

#newGameDlg {
	min-width: 300px;
	color: white;

	.color {
		display: inline-block;
		border-radius: 5px;
		border: 2px solid black;
		vertical-align: top;
		padding: 4px;

		&.selected {
			border-color: white;
		}

		.inner {
			width: 24px;
			height: 24px;
		}
	}
}

#loadingScreen {
	background: navy;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 1s;

	&.active {
		opacity: 1;
		visibility: visible;
		transition: visibility 0s, opacity 0s;
	}
}

#games {
	margin: 20px 0;
	text-align: left;
}

#gameOptions {
	margin: 10px 0;

	.option {
		margin: 6px 0;
		cursor: $customPointer;

		&:hover {
			color: aqua;
		}
	}
}
