#lobbyBG {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	filter: grayscale(75%);
	z-index: -1;

	//animation-name: canvasHue;
	//animation-duration: 20s;
	//animation-iteration-count: infinite;
	//animation-timing-function: linear;
}

#mainLobby {
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;

	.inner {
		display: inline-block;
	}

	h1 {
		color: black;
		font-size: 5em;

		animation-name: example;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: linear;
	}
}

@keyframes canvasHue {
	from {
		filter: hue-rotate(0deg);
		//filter: grayscale(0%);
	}

	to {
		filter: hue-rotate(360deg);
		//filter: grayscale(100%);
	}
}

@keyframes example {
	from {
		text-shadow: 4px 4px 0 #E79C10, -4px -4px 0 #D53A33;
	}

	to {
		text-shadow: 4px 4px 0 #D53A33, -4px -4px 0 #E79C10;
	}
}

#credits {
	> div {
		margin-bottom: 20px;
	}

	h3 {
		color: khaki;
		margin-bottom: 4px;
		margin-top: 0;
	}
}