.mapObject{
	position: relative;
	height: 100%;
	width: 100%;

	img {
		width: 100%;
		height: 100%;
	}

	.active{
		opacity: 1;
		transition: opacity .5s;
		cursor: pointer;
	}

	.selected{
		background-color: aqua;
	}

	.mission{
		position: absolute;
		left: 0px;
		bottom: 0px;
		color: aqua;
		font-size: 24px;
		padding: 0 4px;
		background: black;
	}
}