$textShadow: 2px 2px black;
$customCursor: url(../images/wand.png), default;
$customPointer: url(../images/wand2.png), default;
@import 'tile';
@import 'mapObject';
@import 'battle';
@import 'mission';
@import 'dialogs';
@import 'home';
@font-face {
	font-family: "myfont";
	src: url("ALAGARD.woff") format('woff');
}

body {
	cursor: $customCursor;
	background: black;
	margin: 0;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	height: 100%;
	width: 100%;
	font-family: myfont;
	font-size: 24px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input,
select {
	font-size: 20px;
	font-family: myfont;
	background: cornsilk;
	border: none;
	padding: 3px;
	border-radius: 3px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background: black;
	width: 100%;
	z-index: 100;
}

#app {
	height: 100%;
	width: 100%;

	&.mouseHL {
		cursor: $customPointer;
	}
}

#main {
	background-color: #222;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.scrollable {
	&::-webkit-scrollbar-track {
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar {
		width: 12px;
		height: 10px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #222;
		border-left: 4px solid white;
	}
}

button {
	background-color: black;
	border: 3px solid white;
	color: white;
	padding: 6px;
	font-size: 22px;
	font-family: myfont;

	&:disabled {
		opacity: .5;
	}

	&:focus {
		outline: none;
	}

	&:hover:not(:disabled) {
		background: navy;
	}
}

.btn,
a,
button {
	&:hover:not(:disabled) {
		cursor: $customPointer;
	}
}

.tvMode button {
	&:focus {
		outline: 4px solid yellow;
	}
}

#sidebar {
	z-index: 100;
	position: fixed;
	bottom: 0;
	left: 0;
	pointer-events: none;

	#tileInfo {
		color: white;
		line-height: 1.2em;
		width: 200px;
		background: rgba(0,0,0,.9);
		padding: 20px;
		box-sizing: border-box;
	}

	#buttons {
		margin-bottom: 20px;
		margin-left: 20px;
		pointer-events: painted;
		display: inline-block;

		button {
			display: block;
			margin-top: 10px;
		}
	}
}

#infoBar {
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translate(-50%,0);
	border: 4px solid white;
	background: black;
	padding: 10px;
	color: white;
	font-size: 1em;
	z-index: 10000;
}

#stats {
	font-size: 1.2em;
	text-shadow: 2px 2px black;
	position: fixed;
	bottom: 20px;
	left: 220px;

	> span {
		display: block;
	}
}

.row {
	white-space: nowrap;
}

.blue {
	fill: #0000ff;
}

#title {
	font-size: 40px;
	display: block;
	text-align: center;
	margin: 0;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: black;
	visibility: hidden;
	transition: visibility .3s, opacity .3s;

	&.active {
		opacity: .15;
		visibility: visible;
		transition: visibility 0s, opacity .3s;
	}
}

#dragOverlay {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.flatHeader {
	margin-top: 0;
}

.flatBottom {
	margin-bottom: 0;
}

.dlgRow {
	margin-bottom: 16px;

	.dlgLabel {
		display: block;
		margin-bottom: 4px;
	}
}

.particle {
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url("images/particle.png");
	z-index: 100;
	top: 0;
	left: 0;
	transition: all .25s linear;
}

.hover {
	display: none;
	position: absolute;
	text-shadow: 2px 2px black;
	color: white;
	top: 0;
	right: 20px;
	z-index: 1;
	white-space: nowrap;
}

#scores {
	position: fixed;
	text-align: right;
	right: 0;
	top: 20px;
	width: 200px;

	.tick {
		position: absolute;
    	height: 70%;
    	width: 2%;
    	background: black;
	   bottom: 0;
	}

	.max {
		width: 100%;
		height: 14px;
		background: white;
		margin-bottom: 6px;
		position: relative;
	}

	.teamScore {
		width: 100%;
		height: 14px;
		margin: 6px 0;
		position: relative;

		.top {
			left: 0;
			top: 0;
			position: absolute;
		}

		&:hover {
			.hover {
				display: block;
			}
		}
	}
}

#teamObjects {
	position: fixed;
	left: 20px;
	top: 20px;
	text-shadow: 2px 2px black;
	color: white;

	.teamObj {
		&:hover {
			color: yellow;
			cursor: $customPointer;
		}
	}
}

#expeditions {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 1.4em;
	color: white;

	.expedition {
		padding: 4px 10px;
		border: 4px solid white;
		background-color: black;
		display: inline-block;
		margin-right: 6px;

		img {
			width: 32px;
			height: 32px;
			margin-right: 10px;
			vertical-align: bottom;
		}
	}
}

#foodBar {
	background: darkred;
	border: 4px solid black;
	height: 20px;
	width: 100px;

	.innerBar {
		height: 100%;
		background: red;
	}
}

#travelDist {
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	background: black;
	padding: 2px 2px 0 3px;
}

#btFullscreen {
	z-index: 10000;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-image: url("../images/fullscreen.png");
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	padding: 0;
	background-color: transparent;

	&:hover {
		filter: invert(100%);
	}
}

.error {
	color: red;
}

#games {
	.game {
		cursor: $customPointer;
		border: 2px solid #555;
		padding: 8px;
		margin-bottom: 10px;

		&.selected {
			border: 2px solid yellow;
		}
	}
}

#board {
	color: white;

	#grid {
		.cell {
			display: inline-block;
			border: 2px solid pink;
			width: 40px;
			height: 40px;
			margin: 4px;
		}
	}
}

#chat {
	color: whitesmoke;
	position: fixed;
	bottom: 20px;
	left: 220px;
	font-size: 20px;

	input {
		background: transparent;
    	border: 2px solid #ccc;
    	outline: none;
    	color: #ccc;
		visibility: hidden;

		&.active {
			visibility: visible;
		}
	}
}

#waiting {
	image-rendering: pixelated;
	position: fixed;
	bottom: 20px;
	right: 100px;
	transition: opacity .5s;
	opacity: .25;

	img {
		width: 35px;
		height: 35px;
	}

	&.active {
		opacity: 1;
	}
}

#gameLobby {
	display: flex;
	height: 500px;

	.messages {
		flex-grow: 1;
		overflow: auto;
		background: #111;
		padding: 10px;
		margin: 10px 0;
		border: 2px solid #555;
	}
}

#chatPane {
	display: flex;
	flex-direction: column;
	width: 400px;
}

#playerPane {
	width: 200px;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

#expand {
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%,0);
	color: magenta;
	font-size: 1.2em;
	text-align: center;
	text-shadow: $textShadow;
}
