<div class="dialog" id="cityDlg">
	<h2 class="flatHeader" style="text-align: center">{{city.name}}</h2>
	
	<div id="cityProd">
		<div v-for="item in prodList" class="prodOption" @click="setProd(item)" :class="{selected:item == city.activeProd}">
			<span style="position:absolute; top:-30px" v-if="item==city.activeProd">{{city.prodAmount}}/{{item.cost}}</span>
			<img :src="item.icon" />
		</div>
	</div>

	<div>
		HP: {{city.hp}}<br/>
		Expansion Points: {{city.expPts}}<br/><br/>
		Production: {{city.production}}<br/>
		Food: {{city.food}}<br/>
		Gold: {{city.gold}}<br/>
		Population: {{city.population}}
	</div>
	<div class="footer">
		<button :disabled="city.expPts == 0" @click="expand()">Expand</button>
		<button @click="close()">OK</button>
	</div>
</div>