<div class="dialog">
		<div class="errorPane">
			<div v-for="error in errors">{{error}}</div>
		</div>
		<br/>
		<div style="text-align:right">
			<button @click="close()">Close</button>
		</div>
	</div>