<div class="dialog" id="gameOverDlg">
		<h2 class="flatHeader" v-if="playerWon">You Won!!!</h2>
		<h2 class="flatHeader" v-else>Game Over!</h2>
	
		<div class="footer">
			<button @click="close()">Close</button>
		</div>
	</div>