<div class="dialog" id="gameLobby">

	<div id="chatPane">
		<h2 style="margin:0">Game Lobby</h2>

		<div class="messages">
			<div v-for="msg in state.messages">
				{{msg}}
			</div>
		</div>

		<input v-model="message" @keydown.enter="sendMessage()">
		<div style="margin-top: 10px">
			<button @click="sendMessage()">Send Message</button>
		</div>
	</div>

	<div id="playerPane">
		<span>Players:</span>
		<div style="flex-grow: 1">
			<div v-for="player in game.players" :style="{color:player.color}" @click="cycleColor(player)">
				{{player.name}}
			</div>
		</div>
		<div id="gameOptions">
			<div>options:</div>
			<div class="option" @click="bumpAI()">AI Players: {{aiPlayers}}</div>
			<div class="option" @click="bumpMapSize()">Map Size: {{mapSizeDisplay}}</div>
			<div class="option" @click="bumpVictoryPoints()">Victory: {{victoryPoints}} Pts</div>
		</div>
		<button @click="disconnect()">Disconnect</button>
		<button v-if="game.ownerId == state.player.id" @click="startGame()" style="margin-top: 10px">Start</button>
	</div>
</div>