<div class="dialog scrollable" id="howToPlayDlg">
	<button class="closeButton" @click="close()">Close</button>
	<h4 class="flatHeader">
		<u>Objective</u>
	</h4>
	<p>
		Lordship is a turn-based strategy game where you play against other computer controlled lords. The objective of the game
		is to be the first to score a set number of points by completing missions and building cities.
	</p>

	<h4>
		<u>Controls</u>
	</h4>
	<ul>
		<li><b>Moving:</b> Click on a visible open tile that is within 1 day (3 tiles) of your lord</li>
		<li><b>Panning Map:</b> Hold left mouse button and move the mouse</li>
		<li><b>Zoom:</b> Scroll Mouse wheel</li>
		<li><b>Party Dialog:</b> Double click your army icon</li>
		<li><b>Expedition:</b> Click mission icon</li>
	</ul>

	<h4>
		<u>Moving and Turns</u>
	</h4>
	<p>
		Each turn you can move you can move 1 days distance. Each turn uses 1 food. If you run out of food there is a 15% chance you will lose a unit in your party.
		Moving to a village will provide a small amount of food, you can also complete missions that provide food. If you lose all the members in your party.
		Move to a village tile for a new unit.
		<br/><br/>
		Moving to a village will do the following:
		<ul>
			<li>Provide you with a unit if you have none in your party</li>
			<li>Provide you with some food</li>
			<li>Expose a random mission on the map</li>
		</ul>
	</p>

	<h4>
		<u>Units</u>
	</h4>
	<p>
		Units can be recruited into your party and assigned to expeditions. A Unit type will have some of the following stats:
		<ul>
			<li><b>Combat:</b> Decrease number of oppoent hitpoints</li>
			<li><b>Hunting:</b> How effective a unit can hunt for food</li>
			<li><b>Travel:</b> This skill decreases the time for the unit to travel</li>
			<li><b>Exploring:</b> How effective a unit is at exploring</li>
			<li><b>Trading:</b> How effective a unit is at trading</li>
			<li><b>Charisma:</b> How effective you can recruit units</li>
			<li><b>Locks:</b> How effective you can deal with locks</li>
		</ul>
		The sum of a skill during a mission will either decrease the turns required for an objective task or increase your odds by 10% per rank for chance based objectives.
	</p>

	<h4>
		<u>Missions</u>
	</h4>
	<p>
		Throughout the map are missions. Completing a mission can provide you with fame, gold, food, new unit, or a chest item. 
		Each mission has a set of objectives. Usually an objective is associated with a skill. Sending units with that skill will help your expedition
		complete the mission in fewer days. Objectives are one of the following:
		<ul>
			<li><b>Time:</b> expedition must spend a number of days doing this activity.</li>
			<li><b>Chance:</b> expedition must make a successful roll to complete the objective. Odds are increased by 10% per expedition rank of the specified skill.
			</li>
			<li><b>Combat:</b> Your expedition must decrease the hitpoints of the objective to 0</li>
			<li><b>Requirement:</b> Your expedition must possess the required item</li>
			<li><b>Trap:</b> expedition must make a successful roll or else a unit will be lost, the mission will continue if there are surviving members.</li>
		</ul>
		To start an expedition click the mission icon to open the party dialog, select the units and items to send then press Start Expedition.
		Travel time is the number of tiles between your lord and the mission location.
	</p>
	<p>
		Missions that are already being pursued by an expedition have a purple background. To start a mission that is already being pursued you will need to overtake it. 
		Overtaking a mission requires that your expedition can do the mission in fewer turns than the active mission expedition.
	</p>

	<h4>
		<u>Combat</u>
	</h4>
	<p>
		Combat can happen between another army, an opponents castle, or a creep. Each side of a battle will do 1-2 damage per day.
		Damage is distributed randomly to the members engaged in the battle. If your party is attacked you will need to choose
		1 or more units to be engaged in the battle.
	</p>

	<h4>
		<u>Tiles</u>
	</h4>
	<p>
		There are various tile types in the game. Each type has the following stats:
		<ul>
			<li><b>Gold:</b> The amount of gold that tile will produce per week when controlled by a city</li>
			<li><b>Food:</b> Food produced per week when controlled by a city</li>
			<li><b>Production:</b> Production is used for upgrading a city</li>
			<li><b>Population:</b> Points given to the player that controls this tile by a city</li>
		</ul>
	</p>

	<h4>
		<u>Cities</u>
	</h4>
	<p>
		Cities are a way of scoring points. To build a city click the 'Build City' button. Cities will advance every 10 turns. Every city advancement will provide:
		<ul>
			<li>1 score per 10 population</li>
			<li>1 gold for each gold tile value</li>
			<li>1 expansion point for per 10 food</li>
			<li>1 HP for each 2 production points</li>
		</ul>
		To use expansion points, select a city and then select an adjacent tile that is not controlled.
	</p>
</div>