<div id="mainLobby">
	<h1>Lordship</h1>
	<div class="inner">
		<div>
			<label style="color:white">Player Name:</label><br />
			<input v-model="state.player.name" style="width: 200px" placeholder="player name">
		</div>

		<br />
		<div>
			<div id="games">
				<label>Games:</label>
				<div v-for="game in games" class="game" :class="{selected: game == selectedGame}" @click="selectedGame = game">
					<span v-if="game.active">[ACTIVE]</span>
					<span>players: 1/{{game.maxPlayers}}</span>
					<span>Victory: {{game.topScore}} pts</span>
				</div>
				<div v-if="games.length == 0">
					No games found.
				</div>
			</div>
		</div>
		<div class="footer">
			<button @click="createGame()">Create Game</button>
			<button @click="connect()" :disabled="!selectedGame">Connect</button>
			<button @click="directions()">Directions</button>
			<button @click="viewCredits()">Credits</button>
		</div>
	</div>
</div>