<div class="dialog" id="menu">
	<button @click="leaveGame()">Leave Game</button>
	<button @click="revealMap()" v-if="!isProd">Reveal Map</button>
	<button @click="directions()">Directions</button>
	<button @click="close()">Resume</button>
</div>