<div class="dialog">
	<h2 class="flatHeader">Build New City</h2>
	<div class="dlgRow">
		<input v-model="name" @keyup.enter="build()" placeholder="City Name" style="width:100%"/>
	</div>
	<div class="dlgRow">
		<div>Cost: 100 gold <span v-show="!canAfford" style="color:red">Insufficeint Funds</span></div>
	</div>
	<div class="footer">
		<button @click="build()" :disabled="!canAfford">Build</button>
		<button @click="close()">Cancel</button>
	</div>
</div>