<div id="newGameDlg" class="dialog">
	<h1 class="flatHeader" style="text-align:center">Lordship</h1>
	<div class="dlgRow">
		<label class="dlgLabel">Victory Score</label>
		<input type="number" v-model.number="winScore" />
	</div>

	<div class="dlgRow">
		<label class="dlgLabel">Map Size:</label>
		<select v-model="mapSize" @change="mapSizeChanged()">
			<option v-for="size in mapSizes" :value="size">{{size.width}}x{{size.height}}</option>
		</select>
	</div>

	<div class="dlgRow">
		<label class="dlgLabel">AI Teams</label>
		<input type="number" v-limit="{prop:'aiTeams',min:0,max:10}" v-model.number="aiTeams" />
	</div>
	<div class="dlgRow">
		<label class="dlgLabel">Hero Name</label>
		<input autofocus ref="elName" v-model="name"/>
	</div>
	<div class="dlgRow">
		<label class="dlgLabel">Kingdom Color</label>
		<div v-for="color in colors" class="color" :class="{selected:color==selColor}" @click="selColor = color">
			<div class="inner" :style="{background:color}"></div>
		</div>
	</div>
	<div class="footer">
		<button @click="directions()">Directions</button>
		<button @click="start()">Start</button>
	</div>
</div>