<div class="dialog" id="partyDlg">
	<div v-if="state.gameActive">
		
		<div class="units" v-if="unitCount > 0 && cards.length">
			<div class="card" v-for="card in cards" @click="select(card)" :class="{selected:card.selected, onmission:card.onMission}">
				<img :src="card.def.icon" class="unitIcon" />
				<img v-if="card.rank > 0" :src="card.rankIcon" class="rankIcon" />
				<div class="hover">{{card.info}}</div>
			</div>
		</div>

		<h3 class="flatHeader" v-else>
			No party members, visit village.
		</h3>

		<div v-if="expedition && expedition.cards.length">
			<div style="margin:10px 0">Expedition: <span v-if="expedition.eta > 0">{{expedition.eta}} Turns</span></div>
			<span class="skillItem">
				<span>{{expedition.hp}}</span>
				<img src="./images/skills/heart.png" title="Hit Points" />
			</span>
			<span v-for="item in expedition.skills.items" class="skillItem" :title="item.skill">
				<span>{{item.count}}</span>
				<img :src="item.def.icon" />
			</span>
		</div>

		<div class="footer">
			<!-- <button @click="garrison()" v-show="canGarrison">Garrison</button> -->
			<button @click="attack()" v-show="canAttack">Attack</button>
			<button @click="sendUnits()" v-show="canSend">Start</button>
			<!-- <button @click="buildTower()">Build Tower</button> -->
			<button @click="buildCity()" v-show="selfTarget">Build City</button>
			<!-- <button @click="train()" v-show="selfTarget">Train</button> -->
			<button @click="close()">Close</button>
		</div>
	</div>
</div>